<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk-ua" lang="uk-ua">

<head>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<base href="http://www.localhost:3000/" />
	<title>IFNTUOG dance studio / Школа танцю &quot;ІФНТУНГ денс&quot; Львів</title>
	<link href="/assets/template.css" rel="stylesheet" type="text/css" />
	<link href="/assets/komento.css" rel="stylesheet" type="text/css" />
	<link href="/assets/color_scheme_1.css" rel="stylesheet" type="text/css" id="color_scheme" />
	<link href="/assets/contactus_lightbox.css" rel="stylesheet" type="text/css" />
	<link href="/assets/template.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
	<link href="/assets/navbar.css" rel="stylesheet" type="text/css" />
	<script src="/assets/jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/assets/jquery-noconflict.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/assets/jquery-migrate.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/assets/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/chosen.jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/assets/scripts.js" type="text/javascript"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF5M9kovWzDAwrVkbt6zRIKR4Fdzs_Fdk&language=uk" type="text/javascript"></script>
	<script src="/assets/counters.js" type="text/javascript"></script>
	<script src="/assets/contactus_common.js" type="text/javascript"></script>
	<script src="/assets/contactus_lightbox.js" type="text/javascript"></script>
	<script src="/assets/menu.js" type="text/javascript" defer="defer"></script>
	<script src="/assets/jquery.rd-navbar.js" type="text/javascript" defer="defer"></script>


	<body class="body__home option-com_content view-featured task- itemid-101">

		<!-- Body -->
		<div id="wrapper">
			<div class="wrapper-inner">
				<a id="fake" href='#'></a>

				<div class="header_content">
					<!-- Top -->
					<div id="top" class="stuck_position">

						<div class="container">
							<div class="row">

								<nav class="moduletable home_menu  col-sm-9">
									<div class="module_container">
										<div class="icemegamenu">
											<ul id="icemegamenu">
												<li id="iceMenu_101" class="iceMenuLiLevel_1">
													<a href="http://localhost:3000/" class="iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Викладачі</span>
													</a>
												</li>
												<li id="iceMenu_623" class="iceMenuLiLevel_1 ">
													<a href="/zali" class=" iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Зали</span>
													</a>
												</li>
												<li id="iceMenu_285" class="iceMenuLiLevel_1  current active fullwidth mzr-drop parent ">
													<a href="/rozklad" class="icemega_active iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Розклад</span>
													</a>
													<ul class="icesubMenu icemodules sub_level_1" style="width:280px">
														<li>
															<div style="float:left;width:280px" class="iceCols">
																<ul>
																	<li id="iceMenu_838" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/rozklad-trenuvan-liubinska-vyhovskoho.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. Мисливська, 29</span>
																		</a>
																	</li>
																	<li id="iceMenu_846" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/rozklad-trenuvan-volodymyra-velykoho-2.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. В. Великого 2</span>
																		</a>
																	</li>
																	<li id="iceMenu_882" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/vul-lisna-50a.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. Лісна 50А</span>
																		</a>
																	</li>
																</ul>
															</div>
														</li>
													</ul>
												</li>

												<li id="iceMenu_142" class="iceMenuLiLevel_1 ">

													<% if signed_in? %>
														<a class="iceMenuTitle"> Ви авторизовані як:
															<%= current_user.email %>
														</a>
														<%= button_to 'Вийти', sign_out_path, method: :delete, :class => 'iceMenuTitle' %>
															<% else %>
																<%= link_to 'Авторизуватися', sign_in_path,:class => 'iceMenuTitle'  %>
																	<% end %>
												</li>
												<li id="iceMenu_142" class="iceMenuLiLevel_1 ">



													<div id="flash" ґ>
														<% flash.each do |key, value| %>
															<div class="flash <%= key %>">
																<%= value %>
															</div>
															<% end %>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</nav>







								<div class="moduletable  ">
									<div class="module_container">
										<div id="contactus-lightbox294" class="contactus-lightbox contactus-lightbox294">
											<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
												<div class="contactus-lightbox-closer">
													<i id="contactus-lightbox-close294" class="fa fa-close fa-1x"></i>
												</div>
											</div>
										</div>
										<div class="contactus-alert" id="contactus-sending-alert294">
											<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
												<div class="contactus-lightbox-cap">
													<h4 class="contactus-lightbox-text-center">
														<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Дякуємо</span>
													</h4>
												</div>
												<div class="contactus-lightbox-closer">
													<i id="contactus-lightbox-sending-alert-close294" class="fa fa-close fa-1x"></i>
												</div>
											</div>
											<div class="contactus-alert-body">
												<p class="contactus-lightbox-text-center">Ми зателефонуємо Вам найближчим часом</p>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
					<!-- header -->
					<div id="header" class="stuck_position">
						<div class="container">
							<div class="row">
								<div class="moduletable common_interest  col-sm-6">
									<div class="module_container">
										<header class='page_header'>
											<h1 class="moduleTitle ">
												<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">ІФНТУНГ</span>
												<span class="item_title_part_1 item_title_part_even item_title_part_first_half">танцювальна</span>
												<span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">студія</span>
											</h1>
										</header>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


				<!-- mainbottom -->
				<div id="mainbottom" class="stuck_position">
					<div class="container">
						<div class="row">
							<div class="moduletable people_say  col-sm-12">
								<div class="module_container">
									<header class='page_header'>
										<h1 class="moduleTitle ">
											<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наші</span>
											<span class="item_title_part_1 item_title_part_even item_title_part_first_half">сучасні</span>
											<span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">зали</span>
										</h1>
									</header>
								</div>
							</div>
						</div>
					</div>
				</div>


				<article class="page-item page-item__">
					<header class="item_header">
						<h2 class="item_title">
							<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Зал</span>
							<span class="item_title_part_1 item_title_part_even item_title_part_first_half">на</span>
							<span class="item_title_part_2 item_title_part_odd item_title_part_first_half">вул.</span>
							<span class="item_title_part_3 item_title_part_even item_title_part_second_half">Мисливська,</span>
							<span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">29</span>
						</h2>
					</header>

					<img src="/assets/mislivska.jpg" alt="">

				</article>
				<article class="page-item page-item__">
					<header class="item_header">
						<h2 class="item_title">
							<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Зал</span>
							<span class="item_title_part_1 item_title_part_even item_title_part_first_half">на</span>
							<span class="item_title_part_2 item_title_part_odd item_title_part_first_half">Володимира</span>
							<span class="item_title_part_3 item_title_part_even item_title_part_second_half">Великого</span>
							<span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">2</span>
						</h2>
					</header>


					<img src="/assets/v_velikogo.jpg" alt="">

				</article>

				<article class="page-item page-item__">
					<header class="item_header">
						<h2 class="item_title">
							<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Зал</span>
							<span class="item_title_part_1 item_title_part_even item_title_part_first_half">на</span>
							<span class="item_title_part_2 item_title_part_odd item_title_part_second_half">Лісна</span>
							<span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">50А</span>
						</h2>
					</header>
					<div class="item_fulltext"></div>


					<img src="/assets/lisna.jpg" alt="">
				</article>




			</div>
		</div>
		<div id="footer-wrapper">
			<div class="footer-wrapper-inner">
				<!-- Copyright -->
				<div id="copyright" role="contentinfo">
					<div class="container">
						<div class="row">
							<div class="moduletable  ">
								<div class="module_container">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="back-top">
			<a href="#">
				<span></span>
			</a>
		</div>

	</body>

</html>