<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk-ua" lang="uk-ua">

<head>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <base href="http://www.localhost:3000/" />
    <title>IFNTUOG dance studio / Школа танцю &quot;ІФНТУНГ денс&quot; Львів</title>
    <link href="/assets/template.css" rel="stylesheet" type="text/css" />
    <link href="/assets/komento.css" rel="stylesheet" type="text/css" />
    <link href="/assets/color_scheme_1.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <link href="/assets/contactus_lightbox.css" rel="stylesheet" type="text/css" />
    <link href="/assets/template.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
    <link href="/assets/navbar.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
    <script src="/assets/jquery-noconflict.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
    <script src="/assets/jquery-migrate.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
    <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/chosen.jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
    <script src="/assets/scripts.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF5M9kovWzDAwrVkbt6zRIKR4Fdzs_Fdk&language=uk" type="text/javascript"></script>
    <script src="/assets/counters.js" type="text/javascript"></script>
    <script src="/assets/contactus_common.js" type="text/javascript"></script>
    <script src="/assets/contactus_lightbox.js" type="text/javascript"></script>
    <script src="/assets/menu.js" type="text/javascript" defer="defer"></script>
    <script src="/assets/jquery.rd-navbar.js" type="text/javascript" defer="defer"></script>


    <body class="body__home option-com_content view-featured task- itemid-101">

        <!-- Body -->
        <div id="wrapper">
            <div class="wrapper-inner">
                <a id="fake" href='#'></a>

                <div class="header_content">
                    <!-- Top -->
                    <div id="top" class="stuck_position">

                        <div class="container">
                            <div class="row">

                                <nav class="moduletable home_menu  col-sm-9">
                                    <div class="module_container">
                                        <div class="icemegamenu">
                                            <ul id="icemegamenu">
                                                <li id="iceMenu_101" class="iceMenuLiLevel_1">
                                                    <a href="http://localhost:3000/" class="iceMenuTitle ">
                                                        <span class="icemega_title icemega_nosubtitle">Викладачі</span>
                                                    </a>
                                                </li>
                                                <li id="iceMenu_623" class="iceMenuLiLevel_1 ">
                                                    <a href="/zali" class=" iceMenuTitle ">
                                                        <span class="icemega_title icemega_nosubtitle">Зали</span>
                                                    </a>
                                                </li>
                                                <li id="iceMenu_285" class="iceMenuLiLevel_1  current active fullwidth mzr-drop parent ">
                                                    <a href="/rozklad" class="icemega_active iceMenuTitle ">
                                                        <span class="icemega_title icemega_nosubtitle">Розклад</span>
                                                    </a>
                                                    <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                                                        <li>
                                                            <div style="float:left;width:280px" class="iceCols">
                                                                <ul>
                                                                    <li id="iceMenu_838" class="iceMenuLiLevel_2 ">
                                                                        <a href="/rozklad-trenuvan/rozklad-trenuvan-liubinska-vyhovskoho.html" class=" iceMenuTitle ">
                                                                            <span class="icemega_title icemega_nosubtitle">вул. Мисливська, 29</span>
                                                                        </a>
                                                                    </li>
                                                                    <li id="iceMenu_846" class="iceMenuLiLevel_2 ">
                                                                        <a href="/rozklad-trenuvan/rozklad-trenuvan-volodymyra-velykoho-2.html" class=" iceMenuTitle ">
                                                                            <span class="icemega_title icemega_nosubtitle">вул. В. Великого 2</span>
                                                                        </a>
                                                                    </li>
                                                                    <li id="iceMenu_882" class="iceMenuLiLevel_2 ">
                                                                        <a href="/rozklad-trenuvan/vul-lisna-50a.html" class=" iceMenuTitle ">
                                                                            <span class="icemega_title icemega_nosubtitle">вул. Лісна 50А</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li id="iceMenu_142" class="iceMenuLiLevel_1 ">

                                                    <% if signed_in? %>
                                                        <a class="iceMenuTitle"> Ви авторизовані як:
                                                            <%= current_user.email %>
                                                        </a>
                                                        <%= button_to 'Вийти', sign_out_path, method: :delete, :class => 'iceMenuTitle' %>
                                                            <% else %>
                                                                <%= link_to 'Авторизуватися', sign_in_path,:class => 'iceMenuTitle'  %>
                                                                    <% end %>
                                                </li>
                                                <li id="iceMenu_142" class="iceMenuLiLevel_1 ">



                                                    <div id="flash" ґ>
                                                        <% flash.each do |key, value| %>
                                                            <div class="flash <%= key %>">
                                                                <%= value %>
                                                            </div>
                                                            <% end %>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>







                                <div class="moduletable  ">
                                    <div class="module_container">
                                        <div id="contactus-lightbox294" class="contactus-lightbox contactus-lightbox294">
                                            <div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
                                                <div class="contactus-lightbox-closer">
                                                    <i id="contactus-lightbox-close294" class="fa fa-close fa-1x"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contactus-alert" id="contactus-sending-alert294">
                                            <div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
                                                <div class="contactus-lightbox-cap">
                                                    <h4 class="contactus-lightbox-text-center">
                                                        <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Дякуємо</span>
                                                    </h4>
                                                </div>
                                                <div class="contactus-lightbox-closer">
                                                    <i id="contactus-lightbox-sending-alert-close294" class="fa fa-close fa-1x"></i>
                                                </div>
                                            </div>
                                            <div class="contactus-alert-body">
                                                <p class="contactus-lightbox-text-center">Ми зателефонуємо Вам найближчим часом</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- header -->
                    <div id="header" class="stuck_position">
                        <div class="container">
                            <div class="row">
                                <div class="moduletable common_interest  col-sm-6">
                                    <div class="module_container">
                                        <header class='page_header'>
                                            <h1 class="moduleTitle ">
                                                <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">ІФНТУНГ</span>
                                                <span class="item_title_part_1 item_title_part_even item_title_part_first_half">танцювальна</span>
                                                <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">студія</span>
                                            </h1>
                                        </header>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- mainbottom -->
                <div id="mainbottom" class="stuck_position">
                    <div class="container">
                        <div class="row">
                            <div class="moduletable people_say  col-sm-12">
                                <div class="module_container">
                                    <header class='page_header'>
                                        <h1 class="moduleTitle ">
                                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наш</span>
                                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">зручний</span>
                                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">розклад</span>
                                        </h1>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <article class="page-item page-item__">
                    <header class="item_header">
                        <h2 class="item_title">
                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">вул.</span>
                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half">Мисливська,</span>
                            <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">29</span>
                        </h2>
                    </header>
                    <div class="item_fulltext">
                        <p style="text-align: center;">
                            <span style="font-family: 'times new roman', times; font-size: 14pt;">
                                <strong>Всі наші групи діючі, є можливість приєднатись в любий момент</strong>
                            </span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-family: 'times new roman', times; font-size: 14pt;">
                                <strong>&nbsp;</strong>
                            </span>
                        </p>
                        <table border="1" style="border-image: initial; width: 95%;" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="background-color: #2d0354;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td colspan="3" style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">понеділок&nbsp;&nbsp;</span>
                                    </td>
                                    <td colspan="3" style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff; border-right-width: medium; border-left-width: medium;">вівторок&nbsp;&nbsp;</span>
                                    </td>
                                    <td colspan="3" style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">середа&nbsp;&nbsp;</span>
                                    </td>
                                    <td colspan="3" style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">четвер&nbsp;&nbsp;</span>
                                    </td>
                                    <td colspan="3" style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">п’ятниця&nbsp;&nbsp;</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Сірий зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Синій зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Жовтий зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Сірий зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Синій зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Жовтий зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Сірий зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Синій зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Жовтий зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Сірий зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Синій зал</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Жовтий зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Сірий зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Синій зал</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">Жовтий зал</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #2d0354;">
                                        <span style="font-size: 10pt; color: #ffffff;">17
                                            <sup>00</sup>-18
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/modern-dance.html">Модерн</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">&nbsp;&nbsp;
                                                <a href="/contemporary-dance.html">Контемп</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(7-11р.)</span>&nbsp;</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(6-10 р.)</span>
                                            <br />
                                            <span style="font-size: 10pt;"> Настя</span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/baby-dancing.html">Baby-Dance</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(3-5р)</span>
                                        <br />
                                        <span style="font-size: 10pt;">ритміка</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">
                                                <span style="font-size: 10pt;">Хіп-Хоп</span>
                                            </a>
                                            <br />
                                            <span style="font-size: 10pt;">(6-10р.)</span>
                                            <br />
                                            <span style="font-size: 10pt;">Юля</span>&nbsp;&nbsp;</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">&nbsp;&nbsp;
                                                <a href="/break-dance.html">Брейк-Данс</a>
                                                <br />(9-15р.)</span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <span style="font-size: 10pt;"></span>
                                                </span>
                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td style="width: 6%; border-color: #ffffff;">
                                        <p style="text-align: center;">
                                            <span style="font-size: 10pt;">
                                                <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(6-10 р.)</span>
                                            <br />
                                            <span style="font-size: 10pt;">Настя</span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <a href="/baby-dancing.html">
                                            <span style="font-size: 10pt;">Baby-Dance</span>
                                        </a>
                                        <br />
                                        <span style="font-size: 10pt;">(3-5р)</span>
                                        <br />
                                        <span style="font-size: 10pt;">ритміка</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(6-10 р.)</span>
                                        <br />
                                        <span style="font-size: 10pt;">Юля</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">&nbsp;
                                            <span style="font-size: 10pt;">індив.</span>
                                            <br />
                                            <span style="font-size: 10pt;">тренув.</span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <br />
                                        </span>
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/modern-dance.html">Модерн</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">&nbsp;&nbsp;
                                            <a href="/contemporary-dance.html">Контемп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(7-11р.)</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">&nbsp;
                                            <a href="/Dancehall.html">
                                                <span style="font-size: 10pt;">Dancehall</span>
                                            </a>
                                            <br />
                                            <span style="font-size: 10pt;">(11-16р.)
                                                <span style="font-size: 10pt;">
                                                    <br />
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">&nbsp;
                                            <a href="/break-dance.html">Брейк-Данс</a>
                                            <br />(9-15р.)&nbsp;&nbsp;</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #2d0354;">
                                        <span style="font-size: 10pt; color: #ffffff;">18
                                            <sup>00</sup>-19
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(11-16р.) </span>
                                        <br />
                                        <span style="font-size: 10pt;">Настя</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/Dancehall.html">
                                                <span style="font-size: 10pt;">Dancehall</span>
                                            </a>
                                            <br />
                                            <span style="font-size: 10pt;">(11-16р.)
                                                <span style="font-size: 10pt;">
                                                    <br />
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/stretching.html">Стретчінг</a>&nbsp;</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(11-16 р.)</span>
                                        <br />
                                        <span style="font-size: 10pt;">Юля</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/belly-dance.html">Східні танці</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(6-9р.)</span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(11-16 р.)</span>
                                        <br />
                                        <span style="font-size: 10pt;">Настя</span>
                                    </td>
                                    <td style="width: 6%; border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <a href="/jazz-funk.html">Джаз-Фанк</a>
                                                </span>
                                                <br />
                                                <span style="font-size: 10pt;">(7-10р.)
                                                    <br />
                                                    <span style="font-size: 10pt;">Kids</span>
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">&nbsp;</td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(11-16 р.)</span>
                                        <br />
                                        <span style="font-size: 10pt;">Юля</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <a href="/Dancehall.html">
                                            <span style="font-size: 10pt;"></span>
                                        </a>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/belly-dance.html">Східні танці</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(6-9р.)</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <a href="/jazz-funk.html">Джаз-Фанк</a>
                                                </span>
                                                <br />
                                                <span style="font-size: 10pt;">(7-10р.)
                                                    <br />
                                                    <span style="font-size: 10pt;">Kids</span>
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/stretching.html">Стретчінг</a>
                                        </span>
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #2d0354;">
                                        <span style="font-size: 10pt; color: #ffffff;">19
                                            <sup>00</sup>-20
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <a href="/jazz-funk.html">ДжазФанк</a>
                                                </span>
                                                <br />
                                                <span style="font-size: 10pt;">(11-16р.)
                                                    <br />
                                                    <span style="font-size: 10pt;">Настя</span>
                                                </span>
                                            </span>
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;"></span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/jazz-funk.html">ДжазФанк</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(10-15р.)
                                                <br />
                                                <span style="font-size: 10pt;">Юля</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/latino-amerikanski-tanci.html">Lady style</a>
                                                <br />латина
                                                <br />дорослі</span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/zumba.html">Зумба</a>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/suchasni-tantsi.html">Сучасні</a>
                                            <br />
                                            <a href="/suchasni-tantsi.html">танці&nbsp;</a>
                                            <br />(5-7р.)</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <a href="/bachata.html">Бачата</a>
                                                    <a href="/salsa.html"></a>
                                                </span>
                                                <br />
                                                <span style="font-size: 10pt;">(дорослі)</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/jazz-funk.html">ДжазФанк</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(11-16р.)
                                                <br />
                                                <span style="font-size: 10pt;">Настя</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/belly-dance.html">Східні танці</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(дорослі.)</span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/zumba.html">Зумба</a>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/hip-hop-dance.html"></a>
                                            </span>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/suchasni-tantsi.html">Сучасні</a>
                                            <br />
                                            <a href="/suchasni-tantsi.html">танці</a>
                                            <a href="/suchasni-tantsi.html"></a>
                                            <br />(5-7р.)</span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <a href="/jazz-funk.html">ДжазФанк</a>
                                            </span>
                                            <br />
                                            <span style="font-size: 10pt;">(10-15р.)
                                                <br />
                                                <span style="font-size: 10pt;">Юля</span>
                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <a href="/latino-amerikanski-tanci.html">Lady style</a>
                                                <br />латина
                                                <br />дорослі</span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/belly-dance.html">Східні танці</a>
                                        </span>
                                        <br />
                                        <span style="font-size: 10pt;">(дорослі.)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #2d0354;">
                                        <span style="font-size: 10pt; color: #ffffff;">20
                                            <sup>00</sup>-21
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/kizomba.html">Кізомба</a>
                                            <br />
                                            <span style="font-size: 10pt;">початковий, середній
                                                <br />(дорослі)</span>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/Vogue.html">VOGUE</a>
                                            <a href="/Vogue.html">
                                                <br />
                                            </a>(14+)
                                            <br />
                                            <span style="font-size: 10pt;"></span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/contemporary-dance.html">Контемп</a>
                                            <br />(12+)</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">
                                                <a href="/strip-plastic.html">
                                                    <span style="font-size: 10pt;">Стрип-пластика</span>
                                                </a>
                                            </span>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/twerk.html">Twerk</a>
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">Боди</span>
                                            <br />
                                            <span style="font-size: 10pt;">балет</span>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;">
                                                    <a href="/kizomba.html">Кізомба</a>
                                                    <br />
                                                    <span style="font-size: 10pt;">початковий, середній
                                                        <br />(дорослі)</span>
                                                </span>
                                            </span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/yoga.html">Йога</a>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <a href="/Vogue.html">
                                            <span style="font-size: 10pt;">VOGUE</span>
                                        </a>
                                        <br />
                                        <span style="font-size: 10pt;">(14+)</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/strip-plastic.html">
                                                <span style="font-size: 10pt;">Стрип-пластика</span>
                                            </a>&nbsp;</span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/twerk.html">Twerk</a>
                                            <br />
                                        </span>
                                    </td>
                                    <td style="background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">Боди</span>
                                            <br />
                                            <span style="font-size: 10pt;">балет&nbsp;</span>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <p>
                                            <span style="font-size: 10pt;">
                                                <a href="/contemporary-dance.html">Контемп</a>
                                                <br />(12+)</span>
                                        </p>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/yoga.html">Йога</a>
                                        </span>
                                    </td>
                                    <td style="border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <a href="/bachata.html">Бачата</a>
                                            <br />(дорослі)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table style="width: 528px; border: 1px solid #ffffff;" cellspacing="0" cellpadding="0">
                            <colgroup>
                                <col style="width: 47pt;" width="62" />
                                <col style="width: 56pt;" width="75" />
                                <col style="width: 51pt;" width="68" />
                                <col style="width: 44pt;" width="58" />
                                <col style="width: 58pt;" width="77" />
                                <col style="width: 48pt;" width="64" />
                                <col style="width: 36pt;" width="48" />
                                <col style="width: 57pt;" width="76" /> </colgroup>
                            <tbody>
                                <tr style="height: 18pt;">
                                    <td colspan="2" rowspan="3" style="border-width: 1px; border-color: #ffffff; background-color: #2d0354; text-align: center;">
                                        <span style="font-size: 10pt; color: #ffffff;">&nbsp;&nbsp;
                                            <span style="font-size: 12pt;">субота</span>
                                        </span>
                                        <span style="font-size: 10pt;">&nbsp;&nbsp;</span>
                                    </td>
                                    <td colspan="2" style="border-width: 1px; border-color: #ffffff;">
                                        <span style="font-size: 10pt; color: #ffffff;">12
                                            <sup>00</sup>-13
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td colspan="2" style="border-width: 1px; border-color: #ffffff;">
                                        <span style="font-size: 10pt; color: #ffffff;">13
                                            <sup>00</sup>-14
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td colspan="2" style="border-width: 1px; border-color: #ffffff;">
                                        <span style="font-size: 10pt; color: #ffffff;">14
                                            <sup>00</sup>-15
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 21.75pt;">
                                    <td colspan="2" rowspan="2" style="border-width: 1px; border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;">
                                            <span style="font-size: 10pt;">&nbsp;
                                                <span style="font-size: 10pt;">
                                                    <a href="/salsa.html">Сальса</a>
                                                </span>
                                                <br />
                                                <span style="font-size: 10pt;">початковий</span>
                                                <br />
                                                <span style="font-size: 10pt;">(дорослі)</span>
                                            </span>
                                            <span style="font-size: 10pt;">
                                                <span style="font-size: 10pt;"></span>
                                            </span>
                                        </span>
                                    </td>
                                    <td colspan="2" rowspan="2" style="border-width: 1px; border-color: #ffffff; text-align: center;">
                                        <span style="font-size: 10pt;"></span>
                                        <span style="font-size: 10pt;">&nbsp;
                                            <a href="/kizomba.html">Кізомба</a>
                                            <br />
                                            <span style="font-size: 10pt;">початковий
                                                <br />(дорослі)
                                                <br />набір</span>
                                        </span>
                                    </td>
                                    <td colspan="2" rowspan="2" style="border-width: 1px; border-color: #ffffff;">
                                        <span style="font-size: 10pt;"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <span style="font-size: 10pt; font-family: 'times new roman',times;">Cубота 12-00 для усіх: Mini-Disco–дискотека для дітей з тренером-аніматором. Вхід 50 грн</span>
                        </p>
                        <p>
                            <span style="font-size: 18pt; font-family: 'times new roman',times;"> Субота, Неділя:
                                <a href="/dance/svyatkuvanny-dnya-narodgennya.html">Святкування дитячих днів народжень</a>
                            </span>
                        </p>
                    </div>


                    <!-- Social Sharing -->
                    <div class="addthis_sharing_toolbox"></div>
                    <script type="text/javascript">
                        var addthis_config =
                        {
                            pubid: "ra-5497f2254123130b"
                        }
                    </script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
                    <!-- Pagination -->
                </article>
                <article class="page-item page-item__">
                    <header class="item_header">
                        <h2 class="item_title">
                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">Володимира</span>
                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half">Великого</span>
                            <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">2</span>
                        </h2>
                    </header>
                    <div class="item_fulltext">
                        <p>&nbsp;</p>
                        <p style="text-align: center;">
                            <span style="font-family: 'times new roman', times; font-size: 14pt;">
                                <strong>Всі наші групи діючі, є можливість приєднатись в любий момент.</strong>
                            </span>
                        </p>
                        <table border="1" style="width: 95%;" cellspacing="1" cellpadding="1" align="center">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Час</th>
                                    <th scope="col" style="text-align: center;">Понеділок</th>
                                    <th scope="col" style="text-align: center;">Вівторок</th>
                                    <th scope="col" style="text-align: center;">Середа</th>
                                    <th scope="col" style="text-align: center;">Четвер</th>
                                    <th scope="col" style="text-align: center;">Пятниця</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">16
                                            <sup>00</sup>-17
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">17
                                            <sup>00</sup>-18
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(07-10р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(6-10 р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(07-10р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/Dancehall.html">Dancehall</a>
                                        <br />(7-10р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(6-10 р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">18
                                            <sup>00</sup>-19
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <a href="/template-settings.html?id=67">
                                            <br />
                                        </a>(7-12р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(11-16 р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <a href="/template-settings.html?id=67">
                                            <br />
                                        </a>(7-12р.)&nbsp;
                                        <a href="/belly-dance.html">
                                            <br />
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(15+)&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(11-16 р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">19
                                            <sup>00</sup>-20
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/suchasni-tantsi.html">Сучасні</a>
                                        <br />
                                        <a href="/suchasni-tantsi.html">танці</a>
                                        <a href="/component/content/?id=81&amp;Itemid=190"></a>
                                        <a href="/component/content/article.html?id=63&amp;Itemid=173">
                                            <br />
                                        </a>(4-6р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/suchasni-tantsi.html">Сучасні</a>
                                        <br />
                                        <a href="/suchasni-tantsi.html">танці</a>
                                        <a href="/component/content/?id=81&amp;Itemid=190"></a>
                                        <a href="/component/content/article.html?id=63&amp;Itemid=173">
                                            <br />
                                        </a>(4-6р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/zumba.html">Зумба</a>
                                        <br />(дорослі)&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">20
                                            <sup>00</sup>-21
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <a href="/template-settings.html?id=67">
                                            <br />
                                        </a>(14+)</td>
                                    <td style="text-align: center;">
                                        <a href="/Vogue.html">Vogue</a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <a href="/template-settings.html?id=67">
                                            <br />
                                        </a>(14+)</td>
                                    <td style="text-align: center;">
                                        <a href="/twerk.html">Twerk</a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/Vogue.html">Vogue</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="1" style="width: 95%;" cellspacing="1" cellpadding="1" align="center">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Субота</th>
                                    <th scope="col" style="text-align: center;">12
                                        <sup>00</sup>-13
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">13
                                        <sup>00</sup>-14
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">14
                                        <sup>00</sup>-15
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">15
                                        <sup>00</sup>-16
                                        <sup>00</sup>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">
                                            <sup>&nbsp;</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/zumba.html">Зумба</a>
                                        <br />(дорослі)</td>
                                    <td style="text-align: center;">
                                        <a href="/twerk.html">Twerk</a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(15+)&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/Dancehall.html">Dancehall</a>
                                        <br />(11-16р.)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!-- Social Sharing -->
                    <div class="addthis_sharing_toolbox"></div>
                    <script type="text/javascript">
                        var addthis_config =
                        {
                            pubid: "ra-5497f2254123130b"
                        }
                    </script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
                    <!-- Pagination -->
                </article>

                <article class="page-item page-item__">
                    <header class="item_header">
                        <h2 class="item_title">
                            <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">Лісна</span>
                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">50А</span>
                        </h2>
                    </header>
                    <div class="item_fulltext">
                        <table border="1" style="width: 95%;" cellspacing="1" cellpadding="1" align="center">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Час</th>
                                    <th scope="col" style="text-align: center;">Понеділок</th>
                                    <th scope="col" style="text-align: center;">Вівторок</th>
                                    <th scope="col" style="text-align: center;">Середа</th>
                                    <th scope="col" style="text-align: center;">Четвер</th>
                                    <th scope="col" style="text-align: center;">Пятниця</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">16
                                            <sup>00</sup>-17
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(6-10 р.)</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(6-10 р.)</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">17
                                            <sup>00</sup>-18
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(11-16 р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/modern-dance.html">Модерн для дітей</a>
                                        <br />&nbsp;&nbsp;
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <br />(7-11р.)</td>
                                    <td style="text-align: center;">&nbsp;&nbsp;
                                        <a href="/hip-hop-dance.html">Хіп-Хоп</a>
                                        <br />(11-16 р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(8-11р.)&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/modern-dance.html">Модерн для дітей</a>
                                        <br />&nbsp;&nbsp;
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <br />(7-11р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">18
                                            <sup>00</sup>-19
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/belly-dance.html">Східні танці&nbsp;</a>&nbsp;
                                        <br />(6-9р.)</td>
                                    <td style="text-align: center;">&nbsp;&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(11-16р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/break-dance.html">Брейк-данс</a>
                                        <br />(7-13 р.)</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/belly-dance.html">Східні танці&nbsp;</a>&nbsp;
                                        <br />(6-9р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">19
                                            <sup>00</sup>-20
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/latino-amerikanski-tanci.html">Lady style</a>
                                        <br />дорослі</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/suchasni-tantsi.html">Сучасні</a>
                                        <br />
                                        <a href="/suchasni-tantsi.html">танці</a>
                                        <br />(5-7р.)</td>
                                    <td style="text-align: center;">
                                        <a href="/latino-amerikanski-tanci.html">Lady style</a>
                                        <br />дорослі</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/suchasni-tantsi.html">Сучасні</a>
                                        <br />
                                        <a href="/suchasni-tantsi.html">танці</a>
                                        <br />(5-7р.)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">20
                                            <sup>00</sup>-21
                                            <sup>00</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/zumba.html">Зумба</a>
                                        <br />дорослі</td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <br />(14+)</td>
                                    <td style="text-align: center;">
                                        <a href="/zumba.html">Зумба</a>
                                    </td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/contemporary-dance.html">Контемп</a>
                                        <br />(14+)</td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="1" style="width: 95%;" cellspacing="1" cellpadding="1" align="center">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Субота</th>
                                    <th scope="col" style="text-align: center;">12
                                        <sup>00</sup>-13
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">13
                                        <sup>00</sup>-14
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">14
                                        <sup>00</sup>-15
                                        <sup>00</sup>
                                    </th>
                                    <th scope="col" style="text-align: center;">15
                                        <sup>00</sup>-16
                                        <sup>00</sup>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span style="color: #ffffff;">
                                            <sup>&nbsp;</sup>
                                        </span>
                                    </td>
                                    <td style="text-align: center;">&nbsp;
                                        <a href="/jazz-funk.html">Джаз-Фанк</a>
                                        <br />(8-11р.)&nbsp;</td>
                                    <td style="text-align: center;">
                                        <a href="/break-dance.html">Брейк-данс</a>
                                        <br />(7-13 р.)</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                    <td style="text-align: center;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!-- Social Sharing -->
                    <div class="addthis_sharing_toolbox"></div>
                    <script type="text/javascript">
                        var addthis_config =
                        {
                            pubid: "ra-5497f2254123130b"
                        }
                    </script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
                    <!-- Pagination -->
                </article>




            </div>
        </div>
        <div id="footer-wrapper">
            <div class="footer-wrapper-inner">
                <!-- Copyright -->
                <div id="copyright" role="contentinfo">
                    <div class="container">
                        <div class="row">
                            <div class="moduletable  ">
                                <div class="module_container">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="back-top">
            <a href="#">
                <span></span>
            </a>
        </div>

    </body>

</html>